.heading {
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 0px;
  font-family: "Montez", cursive;
  font-size: xx-large;
  font-weight: normal;
  color: blue;
}

.sub-heading {
  margin-left: 15px;
  margin-top: 0px;
  font-family: "Ubuntu Mono", monospace;
  font-weight: normal;
  font-size: small;
}

.header-btn {
  background-color: blue;
  color: white;
  text-align: center;
  margin: 5px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.segment2-parent-div {
  top: 50%;
  left: 50%;
}

.segment2-parent-div .segment-2-child-modal {
  border: 1px solid white;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: dimgray;
  padding: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.close-win-prop {
  float: right;
}

.label-prop {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.input-text-prop {
  background-color: #ececec;
  border: 0;
  padding: 10px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.input-text-prop-width {
  width: 350px;
}

.input-textarea-prop {
}

.title-prop {
  padding: 5px;
  margin: 0;
  font-size: larger;
}

.segment-2-p {
  padding: 5px;
  margin: 0;
}

.segment-2-p2 {
  padding: 10px;
  margin: 0;
  text-align: center;
  font-size: smaller;
  font-weight: bold;
}

.segment-2-btn {
  align-items: center;
  background-color: #82b366;
  color: white;
  border: 0;
  padding: 10px;
  width: 370px;
  margin-top: 15px;
  font-weight: bold;
}

.segment3-parent-modal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.segment-3-btn {
  align-items: center;
  background-color: #ffcc00;
  color: #4d4d4d;
  border-color: whitesmoke;
  padding: 10px;
  width: 100px;
  margin: 5px;
  border: 1;
}

.createPostBtn {
  text-align: center;
  background-color: #82b366;
  color: white;
  border: 0;
  padding: 10px 60px 10px 60px;
  margin-top: 15px;
  font-weight: bold;
}

.test {
  margin: 100px;
}
