body,
html {
	height: 100%;
	margin: 0;
}

.bg {
	background-color: #ffeedd;
}

.container {
	margin-top: 10%;
	position: absolute;
	display: grid;
	grid-template-columns: 0% 40% 40% 0%;
	grid-column-gap: 5em;
	grid-row-gap: 2em;
	font-family: Arial, Helvetica, sans-serif;

}

.post-card {
	display: grid;
	grid-template-columns: 15% 85%;
	/*border: 1px;*/
	border-radius: 15px;
	box-shadow: 0 0 10px #888888;

}

.post-name {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
	background-color: #FFFFFF;
	/*border: 1px;*/
	border-radius: 15px 0px 0pc 15px;
	box-shadow: 0 0 10px #888888;
	font-weight: bold;
	color: grey;
}

.post-title {
	background-color: #E8E8E8;
	color: grey;
	text-align: justify;
	padding: 5px 15px 5px 15px;
	border: 1px;
	border-radius: 0px 15px 15px 0px;
	box-shadow: 0 0 10px -10px #888888;
}

.post-title-p {
	display: inline;
}

.post-contents-p {
	color: #000000;
}

span {
	float: right;
}

div.post-card:hover {
	box-shadow: 0 0 25px #888888;
}

i:hover {
	cursor: pointer;
}