body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  background-color: white;
}

.post-title {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
}

.post-h2 {
  left: 10%;
  top: 15%;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  position: absolute;
}

.post-h3 {
  left: 10%;
  top: 15%;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  position: absolute;
}

.div-scroll {
  overflow: scroll;
  height: 35%;
}

.button {
  background-color: red;
  color: white;
  border: 0;
  padding: 10px 15px;
  box-shadow: 0 8px 6px -6px #888888;
  position: absolute;
}

.edit-button {
  top: 15%;
  right: 10%;
}

.like-button {
  left: 10%;
  top: 60%;
}

.comment-button {
  left: 10%;
  top: 80%;
}

.post-body {
  left: 10%;
  top: 20%;
  text-align: justify;
  width: 80%;
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  position: absolute;
}

.comment-input {
  left: 10%;
  top: 70%;
  position: absolute;
  width: 50%;
  border: 1;
}

.all-comments {
  left: 10%;
  top: 85%;
  position: absolute;
}

.nLikes {
  left: 10%;
  top: 64%;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: small;
}

.div-comment {
  left: 10%;
  top: 90%;
  position: absolute;
  padding: 5px;
  border-style: solid;
  border-width: 10px 5px 10px 5px;
  color: lightgray;
  width: 48%;
  display: none;
}

.div-comment .label-comment {
  color: black;
}
