:root {
  --lh: 1.4rem;
}

body,
html {
  height: 100%;
  margin: 0;

  /* Additional property to support 3 line truncation */
  max-width: 100%;
  line-height: var(--lh);
}

/* Property to set page's background color */
.bg {
  background-color: #ffeedd;
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  border-radius: 4px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: dimgray;
  padding: 15px;
  border: 1px solid white;
  transform: translate(-50%, -50%);
}

.bg-ontrash {
  background-color: #888888;
}

.container {
  margin-top: 7em;
  position: absolute;
  display: inline-grid;
  grid-template-columns: 0% 37% 37% 0%;
  grid-column-gap: 5em;
  grid-row-gap: 2em;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
}

/* Property for the post div */
.post-card {
  display: grid;
  grid-template-columns: 15% 85%;
  border-radius: 15px;
  box-shadow: 0 0 10px #888888;
  text-overflow: hidden;
}

/* Property for the authors name in the post */
.post-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 15px 0px 0pc 15px;
  box-shadow: 0 0 10px #888888;
  font-weight: bold;
  color: grey;
}

/* Property for the posts title */
.post-title {
  background-color: #e8e8e8;
  color: grey;
  text-align: justify;
  padding: 5px 15px 5px 15px;
  border: 1px;
  border-radius: 0px 15px 15px 0px;
  box-shadow: 0 0 10px -10px #888888;
}

/* Property for the posts title paragraph */
.post-title-p {
  display: inline;
}

/* Property for the posts content */
.post-contents-p {
  color: #000000;
}

span {
  float: right;
}

/* Add effects to each post on hover */
div.post-card:hover {
  box-shadow: 0 0 25px #888888;
}

/* Change the mouse pointer on hovering over the trash or ellipsis icon */
i:hover {
  cursor: pointer;
}

/* .container .trash {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: dimgray;
  padding: 15px;
  border: 1px solid white;
  transform: translate(-50%, -50%);
} */

/* Property for the trash icon */
.trash-button {
  border: 0;
  background-color: #ffffff;
  font-weight: bold;
  color: white;
  padding: 10px;
  width: 90px;
  margin: 5px;
}

/* Property for the YES button */
.trash-dialog-yes {
  background-color: #82b366;
}

/* Property for the NO button */
.trash-dialog-no {
  background-color: red;
}

/* To truncate more than 3 lines*/
.truncate-overflow {
  --max-lines: 3;
  position: relative;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
  padding-right: 1rem; /* space for ellipsis */
}
