.heading {
  margin: 0;
  font-family: "Montez", cursive;
  font-size: xx-large;
  font-weight: normal;
  color: blue;
}

.sub-heading {
  margin: 0;
  font-family: "Ubuntu Mono", monospace;
  font-weight: normal;
  font-size: small;
}

.header-btn {
  background-color: blue;
  color: white;
  text-align: center;
  margin: 5px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}

body {
  background-image: url("../Scribbler/images/background.jpg");
  background-size: cover;
}
